body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card-img {
    width: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


#area-nova-foto {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px;
    background-color: #393939;
    color: #FFFFFF;
    border: none;
}

.logo {
    width: 200px;
}

footer {
    text-align: center;
    background-color: #d1d1d1;
    padding: 20px;
}
